@import "tailwindcss";

@layer base {
  :root {
    /* --background: #cfc8bb;
  --foreground: #141310; */
    --background: #e8e6dc;
    --foreground: #0f0f0e;

    --highlight-bg: #0f0f0e;
    --highlight-fg: #e8e6dc;

    --card-background: #faf9f5;

    --font-theme: var(--font-mono);
  }
  [data-theme="light"] {
    @apply font-mono;

    /* --background: #cfc8bb;
  --foreground: #141310; */
    --background: #e8e6dc;
    --foreground: #0f0f0e;

    --highlight-bg: #0f0f0e;
    --highlight-fg: #e8e6dc;

    --card-background: #faf9f5;
  }
  [data-theme="dark"] {
    @apply font-mono;

    /* --foreground: #e8e6dc; */
    --background: #0f0f0e;
    --foreground: #cfc8bb;

    --highlight-bg: #cfc8bb;
    --highlight-fg: #0f0f0e;

    --card-background: #141413;
  }
  [data-theme="beautiful-world"] {
    @apply font-mono;

    --background: #237cde;
    --foreground: white;

    --highlight-bg: white;
    --highlight-fg: #237cde;

    --card-background: #6590d2;
  }
  [data-theme="nurture-light"] {
    @apply font-iwata;

    --background: white;
    --foreground: black;

    --highlight-bg: black;
    --highlight-fg: white;

    --card-background: white;

    --font-theme: var(--font-iwata);

    h1 {
      font-weight: bold;
    }
  }
  [data-theme="nurture-dark"] {
    @apply font-iwata;

    --background: black;
    --foreground: white;

    --highlight-bg: white;
    --highlight-fg: black;

    --card-background: black;

    --font-theme: var(--font-iwata);

    h1 {
      font-weight: bold;
    }
  }
  :root,
  [data-theme] {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-highlight-bg: var(--highlight-bg);
    --color-highlight-fg: var(--highlight-fg);

    --color-card-background: var(--card-background);
  }

  ::selection {
    background-color: var(--highlight-bg);
    color: var(--highlight-fg);
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-theme);
  }

  a {
    @apply text-sm;

    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: bold;
    pointer-events: auto;
  }

  a:hover {
    font-style: italic;
  }

  h1 {
    @apply text-lg;
    --font-weight: bold;
  }

  h2 {
    @apply pb-2 text-base;
    font-weight: bold;
  }

  p,
  li {
    @apply text-sm;
  }

  ul {
    @apply p-0 m-0 list-disc list-inside;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-iwata: var(--font-iwata);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-highlight-bg: var(--highlight-bg);
  --color-highlight-fg: var(--highlight-fg);

  --color-card-background: var(--card-background);
}

@layer components {
  .card {
    @apply px-4 py-2 border rounded-md border-foreground/0 bg-card-background;
  }

  .highlighted {
    @apply bg-highlight-bg text-highlight-fg;
  }
}
